@media (max-width: 1375px) {
  .date_text_in {
    display: none;
  }
}

@media (max-width: 1285px) {
  .date_text {
    display: none;
  }
}

@media (max-width: 1000px) {
  .account_badge_cont .acc_details,
  .account_badge_cont .expand_button {
    display: none;
  }
}

@media (max-width: 1200px) {
  .above .a-row {
    display: block;
  }
  .above .a-row > div:first-child {
    margin-bottom: 10px;
  }
}

@media (max-width: 1100px) {
  .navbar {
    /* grid-template-columns: 50% 50%; */
  }
}

@media (max-width: 900px) {
  .other_content {
    column-gap: 5px;
    padding: 15px 15px!important;
  }
}

@media (max-width: 965px) {
  .search_box input.search_bar_input {
    width: 140px;
  }
  .navbar {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .search_box input.search_bar_input {
    width: 100px!important;
  }
}

@media (max-width: 540px) {
  .sidebar {
    left: -80px;
    transition: var(--transition-duration);
  }
  main.container {
    padding-left: 0px;
  }
  .sidebar_visibility_toggle {
    display: flex;
    transition: var(--transition-duration);
  }
}

@media (max-width: 720px) {
  .other_content {
    display: block;
  }
  .other_content > div {
    width: 100%;
  }
}
